
<!DOCTYPE html>


<html>


<head>
      <title>About</title>
      <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">

    </head>


    <body>
      
        <dev class="main-content">

        {{>header}}
        <img class= "portrait" src="./img/Screenshot from 2021-04-23 11-51-47.png">

        </dev>
       
        {{>footer}}

        </body>

</html>