<!DOCTYPE html>


<html>


<head>
<title>Help</title>
<link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="/css/styles.css">

    </head>


    <body>            
      
<dev class="main-content">
       {{>header}}
        <p>{{helpText }}</p>

</dev>
          {{>footer}}
        </body>

</html>